<div class="container mt-5 mb-5">
  <!-- <span class="btn btn-primary mb-2" routerLink="produit"><i class="bi bi-box-arrow-left"></i> Accueil</span> -->
  <div class="alert alert-primary text-center" role="alert">
    {{dataPassed.titre}}
  </div>
  <div class="row">

    <div class="details-image col-7">
      <img src="{{dataPassed.image}}" alt="">
    </div>
    <div class="col-5">
      <p class="badge bg-primary"> Prix : {{dataPassed.prix}} fcfa</p> <br>
      <div class="description">
        <h4>Description</h4>
        {{dataPassed.description}}
      </div>
      <div class="description mt-4">
        <h4>Details</h4>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam consequuntur vero dolorum rerum temporibus. A neque facere provident quia, temporibus alias quis officiis, sapiente dicta reprehenderit, quo doloremque maiores expedita?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam consequuntur vero dolorum rerum temporibus. A neque facere provident quia, temporibus alias quis officiis, sapiente dicta reprehenderit, quo doloremque maiores expedita?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam consequuntur vero dolorum rerum temporibus. A neque facere provident quia, temporibus alias quis officiis, sapiente dicta reprehenderit, quo doloremque maiores expedita?
      </div>
    </div>
  </div>
</div>
